#solution .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#solution .items .item {
  display: flex;
  text-align: left;
}

#solution .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

.nav-tab {
  display: block;
}

@media (max-width: 500px) {
  #navbar ul {
    display: none;
  }

  /* #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.01rem;
    padding-left: 0.1rem;
  }
  #showcase .showcase-content {
    top: 110px;
  }

  #property .items img {
    width: 80%;
  }

  #property .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .contact-form .border {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #contact .map {
    height: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
  } */
}
