@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' , sans-serif;
    line-height: 1.1;
}

a{
    text-decoration: none;
}

p
{
    margin: 0.75rem 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.bg-primary {
    /* background: gainsboro; */
    color: #ffffff;
}

.py-1 {
    padding: 1.5rem 0; 
}

.py-2 {
    padding: 2rem 0; 
}

.py-3 {
    padding: 3rem 0; 
}

.p-2{
    padding: 2rem;
}
/* Logo */
.logo {
    color: #93cb52 ;
}

#navbar {
    display: flex;
    background: #333;
    color: #ffffff;
    position: sticky;
    top:0;
    justify-content: space-between;
    z-index: 1;
    padding: 0.95rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul a {
    padding: 0.75rem;
    margin: 0 0.25rem;
    color: #ffffff;
}

#navbar ul a:hover{
    background: #93cb52;
    border-radius: 5px;
}

.lead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.btn
{
    display: flex;
    background-color: #93cb52;
    color: #ffffff;
    padding: .50rem;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    background: #7ab436;
}
.btn-d
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

#showcase {
    background:  url('../img/build1.jpeg') no-repeat center center/cover;
    height: 100vh;
    color: white;
}
/* Background */
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* without height it does'nt work centering content */
    height: 100%;   
    padding: 0 2rem;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
}


/* Solution */

.m-heading {
    font-size: 2rem;
    margin-bottom: .75rem;
    line-height: 1.1;
    text-align: center;
    color: #7ab436;
}

.p-heading {
    font-size: 1rem;
    margin-bottom: .75rem;
    line-height: 1.1;
    text-align: center;
    color: #333;
    padding-top: 2rem;
}

#solution .items {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

#solution .items .item {
    flex:1;
    text-align: center;
    padding: 1rem;
}
#solution .items .item i {
    background: #7ab436;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#property .items {
    display: flex;
    padding-top: 3rem;
}

#property .items img {
    display: block;
    margin: auto;
    width: 70%;
}

/* contact */

#contact {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */  
}

#contact .contact-form {
    flex: 1;
    text-align: center;
}

#contact .map {
    flex: 1;
    text-align: center;
    }

#contact .map iframe {
height: 350px;
width: 70%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.7rem;

    overflow: hidden;
    }   


#contact .contact-form .form-group {
    margin: 0.75rem;
}
/* #contact .contact-form label {
    display: block;
} */

#contact .contact-form input,
#contact .contact-form textarea {
    width: 14rem;
    text-align: left;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Roboto' , sans-serif;
}
.sbtn
{
    background-color: #93cb52;
    color: #ffffff;
    padding: .50rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.sbtn:hover{
    background: #7ab436;
}

.border {
    border: 1px solid #333;
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    /* border-radius: 0.2rem; */
    border-color: lightgrey;
    /* padding-left: 1rem; */
    /* padding-right: 0.5px; */
}


#main-footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: .5rem;
}